<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>芝浦工業大学駅伝部 欠食申請フォーム</title>
</head>
<body>
  <h1>芝浦工業大学駅伝部 欠食申請フォーム</h1>
  <form method="POST">
    <label>名前：</label>
    <select name="name">
      {% for m in members %}
        <option value="{{ m }}">{{ m }}</option>
      {% endfor %}
    </select><br><br>

    <label>日付と時間帯（朝・夜）:</label><br>
    <input type="date" name="dates" multiple>
    <input type="checkbox" name="dates" value="_朝">朝
    <input type="checkbox" name="dates" value="_夜">夜<br><br>

    <button type="submit">申請する</button>
  </form>
</body>
</html>
